.vote-buttons {
  margin: 30px auto;
  max-width: 300px;
}

.love-it {
  background-color: #5bb75b;
  background-image: linear-gradient(to top, rgb(98, 196, 98), rgb(81, 163, 81));
  background-repeat: repeat-x;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  color: rgb(255, 255, 255);
  line-height: 18px;
  padding: 3px 10px;
  font-size: 12px;
  margin: 0 5px;
}

.hate-it {
  background-color: rgb(218, 79, 73);
  background-image: linear-gradient(to top, rgb(238, 95, 91), rgb(189, 54, 47));
  background-repeat: repeat-x;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.0980392);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
  color: rgb(255, 255, 255);
  line-height: 18px;
  padding: 3px 10px;
  font-size: 12px;
}

